/* ESTILOS GERAIS DE TODAS AS PÁGINAS */
* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 100px;
    padding-bottom: 10px;
}

html {
    background-image: linear-gradient(rgba(0,0,0,.05),rgba(0,0,0,.40)100%), url('./img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    position:absolute; 
    height:100%; 
    width:100%;
}

.container-nav {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

h1 {
    color: white;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
    /* font-size: 60px; */
    font-weight: lighter;
    text-align: center;
}

p {
    color: white;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Zilla Slab', serif;
    font-style: italic;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}

#uil-nav {
    color: white;
    size: small;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
}

#uil-nav:hover {
    size: large;
    background-color: rgb(255, 255, 255, .30);
    border-radius: 3px;
}

button {
    cursor: pointer;
    margin: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    border-radius: 7.5px;
    width: 200px;
    height: 50px;
    background: rgba(0,0,0,.75);
    border: 0;
    list-style: none;    
}

button:hover {
    color: white;
    background: rgba(0,0,0,.6);
}

a {
    text-decoration: none;
}

.container-form {
    position: relative;
    margin-bottom: 1.25em;
}

input {
    color: transparent;
    margin-top: 20px;
    border: 0;
    border-bottom: 3px solid rgba(0,0,0,.50);
    border-radius: 3px;
    outline: none;
    background-color: rgb(255, 255, 255, .40);
}

label {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 20px;
    left: 0;
    color: #424242;
    display: flex;
    align-items: center;
    cursor: text;
    transition: .3s ease-in-out;
    pointer-events: none;
}

input, label {
    font-family: 'Roboto', sans-serif;
    font-size: medium;;
    width: 100%;
    height: 40px;
}

input:focus + label, 
input:valid + label {
    color: #424242;
    top: -15px;
    pointer-events: none;
    color: white;
}

input:focus,
input:valid {
    color: black;
    border-bottom: 3px solid rgb(0, 0, 0, .90);
    background-color: rgb(255, 255, 255, .75);
}

input:hover {
    background-color: rgb(255, 255, 255, .60);
}

input::placeholder{
    color: transparent;
    transition: .3s ease-in-out;
}

input:focus::placeholder{
    color: gray;
}

ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style: none;
    box-sizing: border-box;
}

sub {
    position: relative;
    top: 2.5px;
}

.container {
    width: 750px;
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 0, 0, .30);
    
}

.sucesso {
    height: 200px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}


.usuario-nao-autorizado-secundario {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: xx-large;
    font-style: normal;
}

/* ESTILOS DAS CLASSES DA PÁGINA PRINCIPAL */
#container-buttons {
    visibility: hidden;
    display: none;
}

/* ESTILOS DAS CLASSES DA PÁGINA DE LOGIN */
#container-usuario {
    visibility: hidden;
    display: none;
}

/* ESTILOS DAS CLASSES DA PÁGINA DE CLIENTES */
.campo-obrigatorio-clientes {
    margin-right: 275px;
    font-size: small;
    visibility: hidden;
    display: none;
}

#container-options {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

#container-search-clients {
    visibility: hidden;
    display: none;
    transition: .3s ease-in-out;
}

#container-add-clients {
    visibility: hidden;
    display: none;
    transition: .3s ease-in-out;
}

#container-update-clients {
    visibility: hidden;
    display: none;
    transition: .3s ease-in-out;
}

#container-delete-clients {
    visibility: hidden;
    display: none;
    transition: .3s ease-in-out;
}

#container-cliente-adicionado {
    visibility: hidden;
    display: none;
}

/* ESTILOS DAS CLASSES DA PÁGINA DE INSTALAÇÕES */
#container-search-instalations {
    visibility: hidden;
    display: none;
}

#container-add-instalations {
    visibility: hidden;
    display: none;
}

#container-update-instalations {
    visibility: hidden;
    display: none;
}

#container-delete-instalations {
    visibility: hidden;
    display: none;
}

/* ESTILOS DAS CLASSES DA PÁGINA DE MÓDULOS */
#container-search-modules {
    visibility: hidden;
    display: none;
}

#container-add-modules-general {
    visibility: hidden;
    display: none;
}

#container-add-modules {
    display: flexbox;
    flex-direction: column;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#container-update-modules-general {
    visibility: hidden;
    display: none;
}

#container-update-modules {
    display: flexbox;
    flex-direction: column;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#container-delete-modules {
    visibility: hidden;
    display: none;
}

/* ESTILOS DAS CLASSES DA PÁGINA DE INVERSORES */
#container-search-inverters {
    visibility: hidden;
    display: none;
}

#container-add-inverters-general {
    visibility: hidden;
    display: none;
}

#container-add-inverters {
    display: flexbox;
    flex-direction: column;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#container-update-inverters-general {
    visibility: hidden;
    display: none;
}

#container-update-inverters {
    display: flexbox;
    flex-direction: column;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#container-delete-inverters {
    visibility: hidden;
    display: none;
}

/* ESTILOS DAS CLASSES DA PÁGINA DE PROJETOS */
.checkbox {
    cursor: pointer;
    appearance: none;
    height: 15px;
    width: 15px;
    border: 0;
    border-radius: 3px;
    outline: none;
    background-color: rgb(255, 255, 255, .75);
    transition: .15s ease-in-out;
}

.checkbox:valid,
.checkbox:not(:checked) {
    border: 0;
    border-color: rgb(255, 255, 255, .75);
    background-color: rgb(255, 255, 255, .75);
}

.checkbox:checked {
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    background-color: rgb(255, 255, 255, 1);
}

span {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    pointer-events: none;
    color: white;
}

.form-checkbox {
    margin-left: 10px;
    margin-right: 10px;
}

.container-checkbox {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
}

#container-search-projects {
    visibility: hidden;
    display: none;
}

#container-add-projects-general {
    visibility: hidden;
    display: none;
}

#container-update-projects-general {
    visibility: hidden;
    display: none;
}

#container-delete-projects {
    visibility: hidden;
    display: none;
}

.container-aumento-carga {
    visibility: hidden;
    display: none;
}

.container-agrupamento {
    visibility: hidden;
    display: none;
}

.form-checkbox-aumento-usina {
    visibility: hidden;
}

.container-modulo-2 {
    visibility: hidden;
    display: none;
}

.container-inversor-2 {
    visibility: hidden;
    display: none;
}

.container-inversor-3 {
    visibility: hidden;
    display: none;
}

.container-inversor-4 {
    visibility: hidden;
    display: none;
}

.container-add-inverter {
    margin-top: 50px;
}