<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrada de Dados - Projetos Fotovoltaicos</title>

    <!--STYLESHEET-->
    <link rel="stylesheet" href="../style.css">
    <!--ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100;1,700&family=Roboto&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    
    <!-- JAVA SCRIPT FILE -->
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <script defer src="../script.js"></script>
    <script defer src="../App.js"></script>
</head>
<body onload="checar_autorizacao(); get_username(); get_user(); get_user_role()">
    <header>
        <nav class="flexbox">
            <p id="titulo-pagina">Entrada de Projetos</p>
            <div class="container-nav">
                <a href="../index.html"><i class="uil uil-home" id="uil-nav"></i></a>
                <a href="./auth.html"><i class="uil uil-user" id="uil-nav"></i></a>
                <div class="container-user">
                    <p class="nome-usuario">Usuário</p>
                    <a class="sair-usuario" onclick="logout()">Sair</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-usuario-autorizado">
        <div class="container" id="container-show-user">
            <div class="container-dados-usuario-geral">
                <div class="container-titulos-usuario">
                    <span class="titulo">Nome do usuário:</span>
                    <span class="titulo">Cargo:</span>
                    <span class="titulo">Criado em:</span>
                </div>
                <div class="container-dados-usuario">
                    <span id="username"></span>
                    <span id="user-role"></span>
                    <span id="user-created-at"></span>
                </div>
            </div>
            <div class="container-usuario-administrador">
                <button onclick="criar_usuario()"><i class="uil uil-plus"></i> Criar novo usuário</button> <button onclick="atualizar_usuario()"><i class="uil uil-redo"></i> Atualizar usuário</button>
            </div>
        </div>
        <div class="container" id="container-add-users">
            <div class="container-usuario-existente">
                <img src="../img/falha.png" class="falha-usuario">
                <span class="campo-usuario-existente">Usuário já cadastrado.</span>
            </div>
            <div class="container-senha-divergente">
                <img src="../img/falha.png" class="falha-usuario">
                <span class="campo-usuario-existente">Senhas não compatíveis.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="usuário-adicionar" oninput="nome_usuario(this)" required>
                    <label for="name">Nome do usuário*:</label>
                </form>
                <span class="campo-obrigatorio-usuarios">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="password" id="senha-adicionar" required>
                    <label for="password">Senha*:</label>
                </form>
                <span class="campo-obrigatorio-usuarios">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="password" id="confirmar-senha-adicionar" required>
                    <label for="password">Confirmar senha*:</label>
                </form>
                <span class="campo-obrigatorio-usuarios">Esse é um campo obrigatório.</span>
                <div class="container-buttons-clients">
                    <button onclick="post_user()">Criar novo usuário</button>  <a href=""><button>Voltar</button></a> 
                </div>
            </div>
        </div>
        <div class="container" id="container-usuario-adicionado">
            <img src="../img/sucesso.png" class="sucesso">
            <h1>Usuário adicionado com sucesso!</h1>
            <div class="container-buttons-users">
                <a href=""><button>Voltar</button></a>
            </div>
        </div>
        <div class="container" id="container-search-to-update-users">
            <div class="container-form">
                <form>
                    <input type="text" id="usuário-buscar-atualizar" list="" autocomplete="off" onclick="mostrar_usuarios('buscar-atualizar')" oninput="nome_usuario(this); filtrar_usuarios('buscar-atualizar')" required>
                    <label for="name">Nome do usuário*:</label>    
                        <datalist id="nomeusuario-buscar-atualizar">
                        </datalist>
                </form>
                <span class="campo-obrigatorio-usuarios">Esse é um campo obrigatório.</span>
                <form class="form-checkbox">
                    <input type="checkbox" class="checkbox" id="checkbox-nome-usuario" required">
                    <span>Deseja atualizar o nome do usuário?</span>
                </form>
            </div>
            <div class="container-buttons-users">
                <button onclick="mostrar_campos_atualizar_usuarios()">Buscar</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-update-users">
            <div class="container-usuario-inexistente">
                <img src="../img/falha.png" class="falha-usuario">
                <span class="campo-usuario-existente">Usuário inexistente.</span>
            </div>
            <div class="container-senha-divergente">
                <img src="../img/falha.png" class="falha-usuario">
                <span class="campo-usuario-existente">Senhas não compatíveis.</span>
            </div>
            <div class="container-form" id="container-form-nome-usuario">
                <form>
                    <input type="text" id="usuário-atualizar" oninput="nome_usuario(this)" required>
                    <label for="name">Nome do usuário:</label>
                </form>
                <span class="campo-obrigatorio-usuarios">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="password" id="senha-atualizar" required>
                    <label for="password">Senha:</label>
                </form>
                <span class="campo-obrigatorio-usuarios">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="password" id="confirmar-senha-atualizar" required>
                    <label for="password">Confirmar senha:</label>
                </form>
                <span class="campo-obrigatorio-usuarios">Esse é um campo obrigatório.</span>
                <div class="container-buttons-clients">
                    <button onclick="patch_user()">Atualizar usuário</button>  <button onclick="atualizar_usuario()">Voltar</button>
                </div>
            </div>
        </div>
        <div class="container" id="container-usuario-atualizado">
            <img src="../img/sucesso.png" class="sucesso">
            <h1>Usuário atualizado com sucesso!</h1>
            <div class="container-buttons-usuários">
                <a href=""><button>Voltar</button></a>
            </div>
        </div>
    </div>
    <div class="container-usuario-nao-autorizado">    
        <div class="container">
            <div class="container-usuario-inexistente">
                <img src="../img/falha.png" class="falha-usuario">
                <span class="campo-usuario-inexistente">Usuário inexistente.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="usuário" oninput="nome_usuario(this)" required>
                    <label for="name">Usuário:</label>
                    <span class="campo-obrigatorio-usuarios">Esse é um campo obrigatório.</span>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="password" id="senha" required>
                    <label for="password">Senha:</label>
                    <span class="campo-obrigatorio-usuarios">Esse é um campo obrigatório.</span>
                </form>
            </div>
            <button onclick="login()">Entrar</button>
        </div>
    </div>
</body>
</html>