<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>

    <!--STYLESHEET-->
    <link rel="stylesheet" href="../style.css">
    <!--ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100;1,700&family=Roboto&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">

    <!-- JAVA SCRIPT FILE -->
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <script defer src="../script.js"></script>
    <script defer src="../App.js"></script>
</head>
<body onload="checar_autorizacao(); get_username(); get_all_clients()">
    <div class="container-usuario-autorizado">
        <header>
            <nav class="flexbox">
                <p>Clientes</p>
                <div class="container-nav">
                    <a href="../index.html"><i class="uil uil-home" id="uil-nav"></i></a>
                    <a href="./auth.html"><i class="uil uil-user" id="uil-nav"></i></a>
                    <div class="container-user">
                        <p class="nome-usuario">Usuário</p>
                        <a class="sair-usuario" onclick="logout()">Sair</a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container" id="container-options">
            <button onclick="buscar_cliente()" class="buscar-cliente"><i class="uil uil-search"></i> Buscar por cliente</button>
            <button onclick="adicionar_cliente()"><i class="uil uil-plus"></i> Adicionar novo cliente</button>
            <button onclick="atualizar_cliente()"><i class="uil uil-refresh"></i> Atualizar um cliente</button>
            <button onclick="deletar_cliente()"><i class="uil uil-trash"></i> Deletar um cliente</button>
        </div>
        <div class="container" id="container-geral">
            <div class="container-buttons-next-previous">
                <button onclick="get_all_clients_skip(-10)"><i class="uil uil-backward"></i>Página anterior</button> <button onclick="get_all_clients_skip(10)">Próxima página <i class="uil uil-forward"></i></button>
            </div>
            <p>
                <table id="tabela-clientes" style="width: 1450px;">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Número do Cliente</th>
                            <th style="width: 27.5%;">Nome</th>
                            <th style="width: 15%;">CPF/CNPJ</th>
                            <th style="width: 10%;">RG</th>
                            <th style="width: 10%;">Data de Nascimento</th>
                            <th style="width: 27.5%;">Nome do Pai/Mãe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </p>
        </div>
        <div class="container" id="container-search-clients">
            <div class="container-cliente-inexistente">
                <img src="../img/falha.png" class="falha-cliente">
                <span class="campo-cliente-inexistente">Cliente inexistente.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="número-cliente-buscar" list="" autocomplete="off" onmousedown="value = '';" onclick="mostrar_clientes('buscar')" oninput="filtrar_clientes('buscar')" placeholder="Ex.: 7000000000" required>
                    <label for="name">Número do cliente*:</label>    
                        <datalist id="numerocliente-buscar">
                        </datalist>
                </form>
                <span class="campo-obrigatorio-clientes">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-buttons-clients">
                <button onclick="get_client()">Buscar</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-cliente-encontrado">
            <div class="container-dados-cliente-geral">
                <div class="container-titulos-cliente">
                    <span id="title-client-name">Nome do cliente:</span>
                    <span id="title-client-cpf">CPF:</span>
                    <span id="title-client-number">Número do cliente:</span>
                    <span id="title-client-rg">RG:</span>
                    <span id="title-client-date">Data de nascimento:</span>
                    <span id="title-client-parent-name">Nome do pai/mãe:</span>
                    <span id="title-client-added-in">Adicionado em:</span>
                </div>
                <div class="container-dados-cliente">
                    <span id="client-name"></span>
                    <span id="client-cpf"></span>
                    <span id="client-number"></span>
                    <span id="client-rg"></span>
                    <span id="client-date"></span>
                    <span id="client-parent-name"></span>
                    <span id="client-added-in"></span>
                </div>
            </div>
            <div class="container-buttons-clients">
                <button onclick="buscar_cliente()">Buscar novo cliente</button>  <a href=""><button>Voltar</button></a>
            </div>
        </div>
        <div class="container" id="container-add-clients">
            <div class="container-cliente-existente">
                <img src="../img/falha.png" class="falha-cliente">
                <span class="campo-cliente-existente">Cliente já cadastrado.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="número-cliente-adicionar" oninput="apenas_numeros(this)" placeholder="Ex.: 7000000000" required>
                    <label for="name">Número do cliente*:</label>
                </form>
                <span class="campo-obrigatorio-clientes">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="nome-cliente-adicionar" required>
                    <label for="name">Nome*:</label>
                </form>
                <span class="campo-obrigatorio-clientes">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="cpf-adicionar" oninput="cpf_cnpj(this)" required>
                    <label for="name">CPF/CNPJ*:</label>
                </form>
                <span class="campo-obrigatorio-clientes">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="rg-adicionar" required>
                    <label for="name">RG:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="date" id="data-nascimento-adicionar" required>
                    <label for="name">Data de nascimento:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="name" id="nome-pais-adicionar" required>
                    <label for="name">Nome do pai/mãe:</label>
                </form>
            </div>
            <div class="container-buttons-clients">
                <button onclick="post_client()">Adicionar</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-cliente-adicionado">
            <img src="../img/sucesso.png" class="sucesso">
            <h1>Cliente adicionado com sucesso!</h1>
            <div class="container-buttons-clients">
                <button onclick="adicionar_cliente()">Adicionar novo cliente</button>  <a href="./instalation.html"><button>Ir para instalações</button></a>
            </div>
        </div>
        <div class="container" id="container-search-to-update-clients">
            <div class="container-form">
                <form>
                    <input type="text" id="número-cliente-buscar-atualizar" list="" autocomplete="off" onmousedown="value = '';" onclick="mostrar_clientes('buscar-atualizar')" oninput="filtrar_clientes('buscar-atualizar')" placeholder="Ex.: 7000000000" required>
                    <label for="name">Número do cliente*:</label>    
                        <datalist id="numerocliente-buscar-atualizar">
                        </datalist>
                </form>
                <span class="campo-obrigatorio-clientes">Esse é um campo obrigatório.</span>
                <form class="form-checkbox">
                    <input type="checkbox" class="checkbox" id="checkbox-numero-cliente" required">
                    <span>Deseja atualizar o número do cliente?</span>
                </form>
            </div>
            <div class="container-buttons-clients">
                <button onclick="mostrar_campos_atualizar_clientes()">Buscar</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-update-clients">
            <div class="container-campos-nao-preenchidos">
                <img src="../img/falha.png" class="falha-cliente">
                <span class="campo-nao-preenchido">Preencha pelo menos um dos campos.</span>
            </div>
            <div class="container-cliente-inexistente">
                <img src="../img/falha.png" class="falha-cliente">
                <span class="campo-cliente-inexistente">Cliente inexistente.</span>
            </div>
            <div class="container-form" id="container-form-numero-cliente">
                <form>
                    <input type="text" id="número-cliente-atualizar" oninput="apenas_numeros(this)" placeholder="Ex.: 7000000000" required>
                    <label for="name">Número do cliente:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="nome-cliente-atualizar" required>
                    <label for="name">Nome:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="cpf-atualizar" oninput="cpf_cnpj(this)" onpaste="cpf_cnpj(this)" required>
                    <label for="name">CPF/CNPJ:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="rg-atualizar" required>
                    <label for="name">RG:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="date" id="data-nascimento-atualizar" required>
                    <label for="name">Data de nascimento:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="name" id="nome-pais-atualizar" required>
                    <label for="name">Nome do pai/mãe:</label>
                </form>
            </div>
            <div class="container-buttons-clients">
                <button onclick="patch_client()">Atualizar</button> <button onclick="atualizar_cliente()">Voltar</button>
            </div>
        </div>
        <div class="container" id="container-cliente-atualizado">
            <img src="../img/sucesso.png" class="sucesso">
            <h1>Cliente atualizado com sucesso!</h1>
            <div class="container-buttons-clients">
                <a href="./instalation.html"><button>Ir para instalações</button></a>
            </div>
        </div>
        <div class="container" id="container-delete-clients">
            <div class="container-cliente-inexistente">
                <img src="../img/falha.png" class="falha-cliente">
                <span class="campo-cliente-inexistente">Cliente inexistente.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="número-cliente-deletar" list="" autocomplete="off" onmousedown="value = '';" onclick="mostrar_clientes('deletar')" oninput="filtrar_clientes('deletar')" placeholder="Ex.: 7000000000" required>
                    <label for="name">Número do cliente*:</label>    
                        <datalist id="numerocliente-deletar">
                        </datalist>
                </form>
                <span class="campo-obrigatorio-clientes">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-buttons-clients">
                <button onclick="delete_client()">Deletar</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-cliente-deletado">
            <img src="../img/sucesso.png" class="sucesso">
            <h1>Cliente deletado com sucesso!</h1>
            <div class="container-buttons-clients">
                <a href=""><button>Voltar</button></a>
            </div>
        </div>
    </div>
    <div class="container-usuario-nao-autorizado">
        <div class="container">
            <img src="../img/falha.png" class="falha">
            <p class="usuario-nao-autorizado-principal">Acesso negado.</p>
            <p class="usuario-nao-autorizado-secundario">Faça login primeiro.</p>
            <a href="./auth.html"><button>Ir para a página de logins</button></a>
        </div>
    </div>
</body>
</html>