<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Instalações</title>

    <!--STYLESHEET-->
    <link rel="stylesheet" href="../style.css">
    <!--ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100;1,700&family=Roboto&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">

    <!-- JAVA SCRIPT FILE -->
    <script defer src="../script.js"></script>
</head>
<body>
    <header>
        <nav class="flexbox">
            <div class="container-nav">
                <p>Instalações</p>
                <a href="../index.html"><i class="uil uil-home" id="uil-nav"></i></a>
                <a href="./components/auth.html"><i class="uil uil-user" id="uil-nav"></i></a>
            </div>
        </nav>
    </header>
    <div class="container" id="container-options">
        <button onclick="buscar_instalacao()"><i class="uil uil-search"></i> Buscar por instalação</button>
        <button onclick="adicionar_instalacao()"><i class="uil uil-plus"></i> Adicionar nova instalação</button>
        <button onclick="atualizar_instalacao()"><i class="uil uil-refresh"></i> Atualizar uma instalação</button>
        <button onclick="deletar_instalacao()"><i class="uil uil-trash"></i> Deletar uma instalação</button>
    </div>
    <div class="container" id="container-search-instalations">
        <div class="container-form">
            <form>
                <input type="text" class="número-instalação" placeholder="Ex.: 3000000000" required>
                <label for="name">Número da instalação:</label>
            </form>
        </div>
        <div class="container-buttons-instalations">
            <a href=""><button>Buscar</button></a> <a href=""><button>Cancelar</button></a>
        </div>
    </div>
    <div class="container" id="container-add-instalations">
        <div class="container-form">
            <form>
                <input type="text" class="número-instalação" placeholder="Ex.: 3000000000" required>
                <label for="name">Número da instalação:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="text" class="número-cliente" placeholder="Ex.: 7000000000" required>
                <label for="name">Número do cliente:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="text" class="logradouro" required>
                <label for="name">Logradouro:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="text" class="numero-predial" required>
                <label for="name">Número predial:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="text" class="complemento" required>
                <label for="name">Complemento:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="text" class="bairro" required>
                <label for="name">Bairro:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="name" class="cidade" required>
                <label for="name">Cidade:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="name" class="cep" required>
                <label for="name">CEP:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="name" class="classificacao" required>
                <label for="name">Classificação:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="name" class="latitude" required>
                <label for="name">Latitude:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="name" class="longitude" required>
                <label for="name">Longitude:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="name" class="coordenadas-decimais" required>
                <label for="name">Coordenadas decimais:</label>
            </form>
        </div>
        <div class="container-buttons-instalations">
            <a href=""><button>Adicionar</button></a> <a href=""><button>Cancelar</button></a>
        </div>
    </div>
    <div class="container" id="container-update-instalations">
        <div class="container-form">
            <form>
                <input type="text" class="número-instalação" placeholder="Ex.: 3000000000" required>
                <label for="name">Número da instalação:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="text" class="número-cliente" placeholder="Ex.: 7000000000" required>
                <label for="name">Número do cliente:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="text" class="logradouro" required>
                <label for="name">Logradouro:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="text" class="numero-predial" required>
                <label for="name">Número predial:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="text" class="complemento" required>
                <label for="name">Complemento:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="text" class="bairro" required>
                <label for="name">Bairro:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="name" class="cidade" required>
                <label for="name">Cidade:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="name" class="cep" required>
                <label for="name">CEP:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="name" class="classificacao" required>
                <label for="name">Classificação:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="name" class="latitude" required>
                <label for="name">Latitude:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="name" class="longitude" required>
                <label for="name">Longitude:</label>
            </form>
        </div>
        <div class="container-form">
            <form>
                <input type="name" class="coordenadas-decimais" required>
                <label for="name">Coordenadas decimais:</label>
            </form>
        </div>
        <div class="container-buttons-instalations">
            <a href=""><button>Atualizar</button></a> <a href=""><button>Cancelar</button></a>
        </div>
    </div>
    <div class="container" id="container-delete-instalations">
        <div class="container-form">
            <form>
                <input type="text" class="número-cliente" placeholder="Ex.: 3000000000" required>
                <label for="name">Número da instalação:</label>
            </form>
        </div>
        <div class="container-buttons-instalations">
            <a href=""><button>Deletar</button></a> <a href=""><button>Cancelar</button></a>
        </div>
    </div>
</body>
</html>