<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Inversores</title>

    <!--STYLESHEET-->
    <link rel="stylesheet" href="../style.css">
    <!--ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100;1,700&family=Roboto&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="flexbox">
            <div class="container-nav">
                <p>Inversores</p>
                <a href="../index.html"><i class="uil uil-home" id="uil-nav"></i></a>
                <a href="./components/auth.html"><i class="uil uil-user" id="uil-nav"></i></a>
            </div>
        </nav>
    </header>
    <div class="container" id="container-options">
        <a href=""><button>Buscar por inversor</button></a>
        <a href=""><button>Adicionar novo inversor</button></a>
        <a href=""><button>Atualizar um inversor</button></a>
        <a href=""><button>Deletar um inversor</button></a>
    </div>
    <div class="container" id="container-geral">
        <div class="container-buttons-next-previous">
            <a href=""><button><i class="uil uil-backward"></i>Página anterior</button></a> <a href=""><button>Próxima página <i class="uil uil-forward"></i></button></a>
        </div>
        <p>
        <!--MOSTRAR AQUI TODOS OS INVERSORES, DE DEZ EM DEZ-->
        </p>
        <div class="container-buttons-next-previous">
            <a href=""><button><i class="uil uil-backward"></i>Página anterior</button></a> <a href=""><button>Próxima página <i class="uil uil-forward"></i></button></a>
        </div>
    </div>
    <div class="container" id="container-search-inverters">
        <div class="container-form">
            <form>
                <input type="text" class="modelo-inversor" required>
                <label for="name">Modelo:</label>
            </form>
        </div>
        <div class="container-buttons-clients">
            <a href=""><button>Buscar</button></a> <a href=""><button>Cancelar</button></a>
        </div>
    </div>
    <div class="container" id="container-add-inverters-general">
        <div id="container-add-inverters">
            <div class="container-form">
                <form>
                    <input type="text" class="modelo-inversor" required>
                    <label for="name">Modelo:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="fabricante-inversor" required>
                    <label for="name">Fabricante:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="potência-inversor" required>
                    <label for="name">Potência nominal:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="overload-inversor" required>
                    <label for="name">Overload:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="imp-inversor" required>
                    <label for="name">I<sub>mp</sub>:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="isc-inversor" required>
                    <label for="name">I<sub>sc</sub>:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="vmin-mppt-inversor" required>
                    <label for="name">Tensão mínima da MPPT:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="vmax-mppt-inversor" required>
                    <label for="name">Tensão máxima da MPPT:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="voc-inversor" required>
                    <label for="name">Tensão máxima de entrada:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="n-mppt-inversor" required>
                    <label for="name">Número de MPPTs:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="n-entrada-inversor" required>
                    <label for="name">Número de entradas:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="v-saída-inversor" required>
                    <label for="name">Tensão de saída:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="i-saída-inversor" required>
                    <label for="name">Corrente de saída:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="comprimento-inversor" required>
                    <label for="name">Comprimento:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="largura-inversor" required>
                    <label for="name">Largura:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="espessura-inversor" required>
                    <label for="name">Espessura:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="eficiência-inversor" required>
                    <label for="name">Eficiência:</label>
                </form>
            </div>
        </div>
        <div class="container-buttons-modules">
            <a href=""><button>Adicionar</button></a> <a href=""><button>Cancelar</button></a>
        </div>
    </div>
    <div class="container" id="container-update-inverters-general">
        <div id="container-update-inverters">
            <div class="container-form">
                <form>
                    <input type="text" class="modelo-inversor" required>
                    <label for="name">Modelo:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="fabricante-inversor" required>
                    <label for="name">Fabricante:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="potência-inversor" required>
                    <label for="name">Potência nominal:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="overload-inversor" required>
                    <label for="name">Overload:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="imp-inversor" required>
                    <label for="name">I<sub>mp</sub>:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="isc-inversor" required>
                    <label for="name">I<sub>sc</sub>:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="vmin-mppt-inversor" required>
                    <label for="name">Tensão mínima da MPPT:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="vmax-mppt-inversor" required>
                    <label for="name">Tensão máxima da MPPT:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="voc-inversor" required>
                    <label for="name">Tensão máxima de entrada:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="n-mppt-inversor" required>
                    <label for="name">Número de MPPTs:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="n-entrada-inversor" required>
                    <label for="name">Número de entradas:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="v-saída-inversor" required>
                    <label for="name">Tensão de saída:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="i-saída-inversor" required>
                    <label for="name">Corrente de saída:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="comprimento-inversor" required>
                    <label for="name">Comprimento:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="largura-inversor" required>
                    <label for="name">Largura:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="espessura-inversor" required>
                    <label for="name">Espessura:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="eficiência-inversor" required>
                    <label for="name">Eficiência:</label>
                </form>
            </div>
        </div>
        <div class="container-buttons-modules">
            <a href=""><button>Atualizar</button></a> <a href=""><button>Cancelar</button></a>
        </div>
    </div>
    <div class="container" id="container-delete-inverters">
        <div class="container-form">
            <form>
                <input type="text" class="modelo-inversor" required>
                <label for="name">Modelo:</label>
            </form>
        </div>
        <div class="container-buttons-modules">
            <a href=""><button>Deletar</button></a> <a href=""><button>Cancelar</button></a>
        </div>
    </div>
</body>
</html>