<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversores</title>

    <!--STYLESHEET-->
    <link rel="stylesheet" href="../style.css">
    <!--ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100;1,700&family=Roboto&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">

    <!-- JAVA SCRIPT FILE -->
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <script defer src="../script.js"></script>
    <script defer src="../App.js"></script>
</head>
<body onload="checar_autorizacao(); get_username(); get_all_inverters()">
    <div class="container-usuario-autorizado">
        <header>
            <nav class="flexbox">
                <p>Inversores</p>
                <div class="container-nav">
                    <a href="../index.html"><i class="uil uil-home" id="uil-nav"></i></a>
                    <a href="./auth.html"><i class="uil uil-user" id="uil-nav"></i></a>
                    <div class="container-user">
                        <p class="nome-usuario">Usuário</p>
                        <a class="sair-usuario" onclick="logout()">Sair</a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container" id="container-options">
            <button onclick="buscar_inversor()"><i class="uil uil-search"></i> Buscar por inversor</button>
            <button onclick="adicionar_inversor()"><i class="uil uil-plus"></i> Adicionar novo inversor</button>
            <button onclick="atualizar_inversor()"><i class="uil uil-redo"></i> Atualizar um inversor</button>
            <button onclick="deletar_inversor()"><i class="uil uil-trash"></i> Deletar um inversor</button>
        </div>
        <div class="container" id="container-geral">
            <div class="container-buttons-next-previous">
                <button onclick="get_all_inverters_skip(-10)"><i class="uil uil-backward"></i>Página anterior</button> <button onclick="get_all_inverters_skip(10)">Próxima página <i class="uil uil-forward"></i></button>
            </div>
            <table id="tabela-inversores" style="width: 1450px;">
                <thead>
                    <tr>
                        <th style="width: 15%;">Modelo</th>
                        <th style="width: 10%;">Fabricante</th>
                        <th style="width: 7.5%;">Potência</th>
                        <th style="width: 7.5%;">Overload</th>
                        <th style="width: 7.5%;">Número de MPPTs</th>
                        <th style="width: 7.5%;">Número de Entradas</th>
                        <th style="width: 5%;">I<sub>mp</sub></th>
                        <th style="width: 5%;">I<sub>sc</sub></th>
                        <th style="width: 10%;">Faixa de Tensão da MPPT</th>
                        <th style="width: 10%;">Tensão Máxima de Entrada</th>
                        <th style="width: 7.5%;">I<sub>out</sub></th>
                        <th style="width: 7.5%;">V<sub>out</sub></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container" id="container-search-inverters">
            <div class="container-inversor-inexistente">
                <img src="../img/falha.png" class="falha-inversor">
                <span class="campo-inversor-inexistente">Inversor inexistente.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="modelo-inversor-buscar" list="" autocomplete="off" onclick="mostrar_inversores('buscar')" oninput="filtrar_inversores('buscar')" required>
                    <label for="name">ID do inversor*:</label> 
                        <datalist id="modeloinversor-buscar">
                        </datalist>
                </form>
                <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-buttons-inverters">
                <button onclick="get_inverter()">Buscar</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-inversor-encontrado">
            <div class="container-dados-inversor-geral">
                <div class="container-titulos-inversor">
                    <span class="title" id="title-inverter-model">Modelo do inversor:</span>
                    <span class="title" id="title-inverter-manufacturer">Fabricante:</span>
                    <span class="title" id="title-inverter-power">Potência nominal de saída:</span>
                    <span class="title" id="title-inverter-overload">Overload:</span>
                    <span class="title" id="title-inverter-mppt">Número de MPPTs:</span>
                    <span class="title" id="title-inverter-input">Número de entradas:</span>
                    <span class="title" id="title-inverter-imp">Imp:</span>
                    <span class="title" id="title-inverter-isc">Isc:</span>
                    <span class="title" id="title-inverter-vmp">Faixa de tensão da MPPT:</span>
                    <span class="title" id="title-inverter-voc">Tensão máxima de entrada:</span>
                    <span class="title" id="title-inverter-iout">Corrente de saída:</span>
                    <span class="title" id="title-inverter-vout">Tensão de saída:</span>
                    <span class="title" id="title-inverter-width">Comprimento:</span>
                    <span class="title" id="title-inverter-length">Largura:</span>
                    <span class="title" id="title-inverter-thickness">Espessura:</span>
                    <span class="title" id="title-inverter-efficiency">Eficiência:</span>
                    <span class="title" id="title-inverter-added-in">Adicionado em:</span>
                </div>
                <div class="container-dados-inversor">
                    <span class="content" id="inverter-model"></span>
                    <span class="content" id="inverter-manufacturer"></span>
                    <span class="content" id="inverter-power"></span>
                    <span class="content" id="inverter-overload"></span>
                    <span class="content" id="inverter-mppt"></span>
                    <span class="content" id="inverter-input"></span>
                    <span class="content" id="inverter-imp"></span>
                    <span class="content" id="inverter-isc"></span>
                    <span class="content" id="inverter-vmp"></span>
                    <span class="content" id="inverter-voc"></span>
                    <span class="content" id="inverter-iout"></span>
                    <span class="content" id="inverter-vout"></span>
                    <span class="content" id="inverter-width"></span>
                    <span class="content" id="inverter-length"></span>
                    <span class="content" id="inverter-thickness"></span>
                    <span class="content" id="inverter-efficiency"></span>
                    <span class="content" id="inverter-added-in"></span>
                </div>
            </div>
            <div class="container-buttons-inverters">
                <button onclick="buscar_inversor()">Buscar novo inversor</button>  <a href=""><button>Voltar</button></a>
            </div>
        </div>
        <div class="container" id="container-add-inverters-general">
            <div class="container-inversor-existente">
                <img src="../img/falha.png" class="falha-inversor">
                <span class="campo-inversor-existente">Inversor já cadastrado.</span>
            </div>
            <div id="container-add-inverters">
                <div class="container-form">
                    <form>
                        <input type="text" id="modelo-inversor-adicionar" oninput="remover_caracteres_especiais(this)" required>
                        <label for="name">Modelo*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="fabricante-inversor-adicionar" oninput="remover_caracteres_especiais(this)" required>
                        <label for="name">Fabricante*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="potência-inversor-adicionar" oninput="apenas_numeros(this)" required>
                        <label for="name">Potência nominal*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="overload-inversor-adicionar" oninput="apenas_numeros(this)" required>
                        <label for="name">Overload*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="imp-inversor-adicionar" oninput="numero_decimal(this)" required>
                        <label for="name">I<sub>mp</sub>*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="isc-inversor-adicionar" oninput="numero_decimal(this)" required>
                        <label for="name">I<sub>sc</sub>*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="vmin-mppt-inversor-adicionar" oninput="apenas_numeros(this)" required>
                        <label for="name">Tensão mínima da MPPT*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="vmax-mppt-inversor-adicionar" oninput="apenas_numeros(this)" required>
                        <label for="name">Tensão máxima da MPPT*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="voc-inversor-adicionar" oninput="apenas_numeros(this)" required>
                        <label for="name">Tensão máxima de entrada*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="n-mppt-inversor-adicionar" oninput="apenas_numeros(this)" required>
                        <label for="name">Número de MPPTs*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="n-entrada-inversor-adicionar" oninput="apenas_numeros(this)" required>
                        <label for="name">Número de entradas*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="v-saída-inversor-adicionar" oninput="apenas_numeros(this)" required>
                        <label for="name">Tensão de saída*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="i-saída-inversor-adicionar" oninput="numero_decimal(this)" required>
                        <label for="name">Corrente de saída*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="comprimento-inversor-adicionar" oninput="apenas_numeros(this)" required>
                        <label for="name">Comprimento (em milímetros)*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="largura-inversor-adicionar" oninput="apenas_numeros(this)" required>
                        <label for="name">Largura (em milímetros)*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="espessura-inversor-adicionar" oninput="apenas_numeros(this)" required>
                        <label for="name">Espessura (em milímetros)*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="eficiência-inversor-adicionar" oninput="numero_decimal(this)" required>
                        <label for="name">Eficiência*:</label>
                    </form>
                    <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
                </div>
            </div>
            <div class="container-buttons-inverters">
                <button onclick="post_inverter()">Adicionar</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-inversor-adicionado">
            <img src="../img/sucesso.png" class="sucesso">
            <h1>Inversor adicionado com sucesso!</h1>
            <div class="container-buttons-inverters">
                <button onclick="adicionar_inversor()">Adicionar novo inversor</button>  <a href="./project.html"><button>Ir para projetos</button></a>
            </div>
        </div>
        <div class="container" id="container-search-to-update-inverters">
            <div class="container-inversor-inexistente">
                <img src="../img/falha.png" class="falha-inversor">
                <span class="campo-inversor-inexistente">Inversor inexistente.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="modelo-inversor-buscar-atualizar" list="" autocomplete="off" onclick="mostrar_inversores('buscar-atualizar')" oninput="filtrar_inversores('buscar-atualizar')" required>
                    <label for="name">ID do inversor*:</label> 
                        <datalist id="modeloinversor-buscar-atualizar">
                        </datalist>
                </form>
                <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-buttons-inverters">
                <button onclick="mostrar_campos_atualizar_inversores()">Buscar</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-update-inverters-general">
            <div class="container-campos-nao-preenchidos">
                <img src="../img/falha.png" class="falha-inversor">
                <span class="campo-nao-preenchido">Não há nenhuma alteração dos dados originais.</span>
            </div>
            <div id="container-update-inverters">
                <div class="container-form" id="container-form-modelo-inversor">
                    <form>
                        <input type="text" id="modelo-inversor-atualizar" oninput="remover_caracteres_especiais(this)" required>
                        <label for="name">Modelo:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="fabricante-inversor-atualizar" oninput="remover_caracteres_especiais(this)" required>
                        <label for="name">Fabricante:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="potência-inversor-atualizar" oninput="apenas_numeros(this)" required>
                        <label for="name">Potência nominal:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="overload-inversor-atualizar" oninput="apenas_numeros(this)" required>
                        <label for="name">Overload:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="imp-inversor-atualizar" oninput="numero_decimal(this)" required>
                        <label for="name">I<sub>mp</sub>:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="isc-inversor-atualizar" oninput="numero_decimal(this)" required>
                        <label for="name">I<sub>sc</sub>:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="vmin-mppt-inversor-atualizar" oninput="apenas_numeros(this)" required>
                        <label for="name">Tensão mínima da MPPT:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="vmax-mppt-inversor-atualizar" oninput="apenas_numeros(this)" required>
                        <label for="name">Tensão máxima da MPPT:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="voc-inversor-atualizar" oninput="apenas_numeros(this)" required>
                        <label for="name">Tensão máxima de entrada:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="n-mppt-inversor-atualizar" oninput="apenas_numeros(this)" required>
                        <label for="name">Número de MPPTs:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="n-entrada-inversor-atualizar" oninput="apenas_numeros(this)" required>
                        <label for="name">Número de entradas:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="v-saída-inversor-atualizar" oninput="apenas_numeros(this)" required>
                        <label for="name">Tensão de saída:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="i-saída-inversor-atualizar" oninput="numero_decimal(this)" required>
                        <label for="name">Corrente de saída:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="comprimento-inversor-atualizar" oninput="apenas_numeros(this)" required>
                        <label for="name">Comprimento:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="largura-inversor-atualizar" oninput="apenas_numeros(this)" required>
                        <label for="name">Largura:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="espessura-inversor-atualizar" oninput="apenas_numeros(this)" required>
                        <label for="name">Espessura:</label>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="eficiência-inversor-atualizar" oninput="numero_decimal(this)" required>
                        <label for="name">Eficiência:</label>
                    </form>
                </div>
            </div>
            <div class="container-buttons-inverters">
                <button onclick="patch_inverter()">Atualizar</button></a> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-inversor-atualizado">
            <img src="../img/sucesso.png" class="sucesso">
            <h1>Inversor atualizado com sucesso!</h1>
            <div class="container-buttons-inverters">
                <a href="./project.html"><button>Ir para projetos</button></a>
            </div>
        </div>
        <div class="container" id="container-delete-inverters">
            <div class="container-inversor-inexistente">
                <img src="../img/falha.png" class="falha-inversor">
                <span class="campo-inversor-inexistente">Inversor inexistente.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="modelo-inversor-deletar" list="" autocomplete="off" onclick="mostrar_inversores('deletar')" oninput="filtrar_inversores('deletar')" required>
                    <label for="name">ID do inversor*:</label> 
                        <datalist id="modeloinversor-deletar">
                        </datalist>
                </form>
                <span class="campo-obrigatorio-inversores">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-buttons-inverters">
                <button onclick="delete_inverter()">Deletar</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-inversor-deletado">
            <img src="../img/sucesso.png" class="sucesso">
            <h1>Inversor deletado com sucesso!</h1>
            <div class="container-buttons-inverters">
                <a href=""><button>Voltar</button></a>
            </div>
        </div>
    </div>
    <div class="container-usuario-nao-autorizado">
        <div class="container">
            <img src="../img/falha.png" class="falha">
            <p class="usuario-nao-autorizado-principal">Acesso negado.</p>
            <p class="usuario-nao-autorizado-secundario">Faça login primeiro.</p>
            <a href="./auth.html"><button>Ir para a página de logins</button></a>
        </div>
    </div>
</body>
</html>