<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulos</title>

    <!--STYLESHEET-->
    <link rel="stylesheet" href="../style.css">
    <!--ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100;1,700&family=Roboto&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">

    <!-- JAVA SCRIPT FILE -->
    <script defer src="../script.js"></script>
</head>
<body>
    <header>
        <nav class="flexbox">
            <div class="container-nav">
                <p>Módulos</p>
                <a href="../index.html"><i class="uil uil-home" id="uil-nav"></i></a>
                <a href="./components/auth.html"><i class="uil uil-user" id="uil-nav"></i></a>
            </div>
        </nav>
    </header>
    <div class="container" id="container-options">
        <button onclick="buscar_modulo()"><i class="uil uil-search"></i> Buscar por módulo</button>
        <button onclick="adicionar_modulo()"><i class="uil uil-plus"></i> Adicionar novo módulo</button>
        <button onclick="atualizar_modulo()"><i class="uil uil-refresh"></i> Atualizar um módulo</button>
        <button onclick="deletar_modulo()"><i class="uil uil-trash"></i> Deletar um módulo</button>
    </div>
    <div class="container" id="container-geral">
        <div class="container-buttons-next-previous">
            <a href=""><button><i class="uil uil-backward"></i>Página anterior</button></a> <a href=""><button>Próxima página <i class="uil uil-forward"></i></button></a>
        </div>
        <p>
        <!--MOSTRAR AQUI TODOS OS MÓDULOS, DE DEZ EM DEZ-->
        </p>
        <div class="container-buttons-next-previous">
            <a href=""><button><i class="uil uil-backward"></i>Página anterior</button></a> <a href=""><button>Próxima página <i class="uil uil-forward"></i></button></a>
        </div>
    </div>
    <div class="container" id="container-search-modules">
        <div class="container-form">
            <form>
                <input type="text" class="modelo-módulo" required>
                <label for="name">Modelo:</label>
            </form>
        </div>
        <div class="container-buttons-clients">
            <a href=""><button>Buscar</button></a> <a href=""><button>Cancelar</button></a>
        </div>
    </div>
    <div class="container" id="container-add-modules-general">
        <div id="container-add-modules">
            <div class="container-form">
                <form>
                    <input type="text" class="modelo-módulo" required>
                    <label for="name">Modelo:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="fabricante-módulo" required>
                    <label for="name">Fabricante:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="potência-módulo" required>
                    <label for="name">Potência de pico:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="imp-modulo" required>
                    <label for="name">I<sub>mp</sub>:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="isc-modulo" required>
                    <label for="name">I<sub>sc</sub>:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="vmp-modulo" required>
                    <label for="name">V<sub>mp</sub>:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="voc-modulo" required>
                    <label for="name">V<sub>oc</sub>:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="comprimento-módulo" required>
                    <label for="name">Comprimento:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="largura-módulo" required>
                    <label for="name">Largura:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="espessura-módulo" required>
                    <label for="name">Espessura:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="eficiência-módulo" required>
                    <label for="name">Eficiência:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="temperatura-módulo" required>
                    <label for="name">Temperatura nominal:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="tipo-módulo" required>
                    <label for="name">Tipo de célula:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="name" class="coeficiente-módulo" required>
                    <label for="name">Coeficiente de temperatura:</label>
                </form>
            </div>
        </div>
        <div class="container-buttons-modules">
            <a href=""><button>Adicionar</button></a> <a href=""><button>Cancelar</button></a>
        </div>
    </div>
    <div class="container" id="container-update-modules-general">
        <div id="container-update-modules">
            <div class="container-form">
                <form>
                    <input type="text" class="modelo-módulo" required>
                    <label for="name">Modelo:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="fabricante-módulo" required>
                    <label for="name">Fabricante:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="potência-módulo" required>
                    <label for="name">Potência de pico:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="imp-modulo" required>
                    <label for="name">I<sub>mp</sub>:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="isc-modulo" required>
                    <label for="name">I<sub>sc</sub>:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="vmp-modulo" required>
                    <label for="name">V<sub>mp</sub>:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="voc-modulo" required>
                    <label for="name">V<sub>oc</sub>:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="comprimento-módulo" required>
                    <label for="name">Comprimento:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="largura-módulo" required>
                    <label for="name">Largura:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="espessura-módulo" required>
                    <label for="name">Espessura:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="eficiência-módulo" required>
                    <label for="name">Eficiência:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="temperatura-módulo" required>
                    <label for="name">Temperatura nominal:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" class="tipo-módulo" required>
                    <label for="name">Tipo de célula:</label>
                </form>
            </div>
            <div class="container-form">
                <form>
                    <input type="name" class="coeficiente-módulo" required>
                    <label for="name">Coeficiente de temperatura:</label>
                </form>
            </div>
        </div>
        <div class="container-buttons-modules">
            <a href=""><button>Atualizar</button></a> <a href=""><button>Cancelar</button></a>
        </div>
    </div>
    <div class="container" id="container-delete-modules">
        <div class="container-form">
            <form>
                <input type="text" class="modelo-módulo" required>
                <label for="name">Modelo:</label>
            </form>
        </div>
        <div class="container-buttons-modules">
            <a href=""><button>Deletar</button></a> <a href=""><button>Cancelar</button></a>
        </div>
    </div>
</body>
</html>