<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>

    <!--STYLESHEET-->
    <link rel="stylesheet" href="../style.css">
    <!--ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100;1,700&family=Roboto&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">

    <!-- JAVA SCRIPT FILE -->
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <script defer src="../script.js"></script>
    <script defer src="../App.js"></script>
</head>
<body onload="checar_autorizacao(); get_username(); get_all_projects()">
    <div class="container-usuario-autorizado">
        <header>
            <nav class="flexbox">
                <p>Projetos</p>
                <div class="container-nav">
                    <a href="../index.html"><i class="uil uil-home" id="uil-nav"></i></a>
                    <a href="./auth.html"><i class="uil uil-user" id="uil-nav"></i></a>
                    <div class="container-user">
                        <p class="nome-usuario">Usuário</p>
                        <a class="sair-usuario" onclick="logout()">Sair</a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container" id="container-options">
            <button onclick="buscar_projeto()"><i class="uil uil-search"></i> Buscar por projeto</button>
            <button onclick="adicionar_projeto()"><i class="uil uil-plus"></i> Adicionar novo projeto</button>
            <button onclick="atualizar_projeto()"><i class="uil uil-redo"></i> Atualizar um projeto</button>
            <button onclick="imprimir_projeto()"><i class="uil uil-print"></i> Imprimir um projeto</button>
            <button onclick="deletar_projeto()"><i class="uil uil-trash"></i> Deletar um projeto</button>
        </div>
        <div class="container" id="container-geral">
            <div class="container-buttons-next-previous">
                <button onclick="get_all_projects_skip(-10)"><i class="uil uil-backward"></i>Página anterior</button> <button onclick="get_all_projects_skip(10)">Próxima página <i class="uil uil-forward"></i></button>
            </div>
            <table id="tabela-projetos" style="width: 1450px;">
                <thead>
                    <tr>
                        <th style="width: 20%;">Nome do Cliente</th>
                        <th style="width: 5.833333%;">Ligação<br>Nova</th>
                        <th style="width: 5.833333%;">Aumento<br>de Carga</th>
                        <th style="width: 5.833333%;">Aumento<br>de Usina</th>
                        <th style="width: 7.5%;">Agrupamento</th>
                        <th style="width: 7.5%;">Qtd.<br>Módulo(s)</th>
                        <th style="width: 20%;">Módulo(s)</th>
                        <th style="width: 7.5%;">Qtd.<br>Inversor(es)</th>
                        <th style="width: 20%;">Inversor(es)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container" id="container-search-projects">
            <div class="container-projeto-inexistente">
                <img src="../img/falha.png" class="falha-projeto">
                <span class="campo-projeto-inexistente">Projeto inexistente.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="id-projeto-buscar" list="" autocomplete="off" onclick="mostrar_projetos('buscar')" oninput="filtrar_projetos('buscar')" required>
                    <label for="name">ID do projeto*:</label>    
                        <datalist id="idprojeto-buscar">
                        </datalist>
                    
                </form>
                <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-buttons-projects">
                <button onclick="get_project()">Buscar</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-projeto-encontrado">
            <div class="container-dados-projeto-geral">
                <div class="container-titulos-projeto">
                    <span class="title" id="title-project-id">ID do projeto:</span>
                    <span class="title" id="title-project-instalation">Número da instalação:</span>
                    <span class="title" id="title-project-client">Número do cliente:</span>
                    <span class="title" id="title-project-link">Ligação nova:</span>
                    <span class="title" id="title-project-load">Aumento de carga:</span>
                    <span class="title" id="title-project-plant">Aumento de usina:</span>
                    <span class="title" id="title-project-grouping">Agrupamento:</span>
                    <span class="title" id="title-project-phases">Número de fases atual:</span>
                    <span class="title" id="title-project-breaker">Disjuntor atual:</span>
                    <span class="title" id="title-project-n-phases">Número de fases solicitado:</span>
                    <span class="title" id="title-project-n-breaker">Disjuntor solicitado:</span>
                    <span class="title" id="title-project-g-phases">Número de fases do agrupamento:</span>
                    <span class="title" id="title-project-g-breaker">Disjuntor do agrupamento:</span>
                    <span class="title" id="title-project-o-modules-1">Módulos 1 pertencentes a usina anterior:</span>
                    <span class="title" id="title-project-q-modules-1">Quantidade do módulo 1:</span>
                    <span class="title" id="title-project-m-modules-1">Modelo do módulo 1:</span>
                    <span class="title" id="title-project-o-modules-2">Módulos 2 pertencentes a usina anterior:</span>
                    <span class="title" id="title-project-q-modules-2">Quantidade do módulo 2:</span>
                    <span class="title" id="title-project-m-modules-2">Modelo do módulo 2:</span>
                    <span class="title" id="title-project-o-inverter-1">Inversor 1 pertencente a usina anterior:</span>
                    <span class="title" id="title-project-q-inverter-1">Quantidade de inversor 1:</span>
                    <span class="title" id="title-project-m-inverter-1">Modelo do inversor 1:</span>
                    <span class="title" id="title-project-o-inverter-2">Inversor 2 pertencente a usina anterior:</span>
                    <span class="title" id="title-project-q-inverter-2">Quantidade de inversor 2:</span>
                    <span class="title" id="title-project-m-inverter-2">Modelo do inversor 2:</span>
                    <span class="title" id="title-project-o-inverter-3">Inversor 3 pertencente a usina anterior:</span>
                    <span class="title" id="title-project-q-inverter-3">Quantidade de inversor 3:</span>
                    <span class="title" id="title-project-m-inverter-3">Modelo do inversor 3:</span>
                    <span class="title" id="title-project-o-inverter-4">Inversor 4 pertencente a usina anterior:</span>
                    <span class="title" id="title-project-q-inverter-4">Quantidade de inversor 4:</span>
                    <span class="title" id="title-project-m-inverter-4">Modelo do inversor 4:</span>
                    <span class="title" id="title-project-added-in">Criado em:</span>
                </div>
                <div class="container-dados-projeto">
                    <span class="content" id="project-id"></span>
                    <span class="content" id="project-instalation"></span>
                    <span class="content" id="project-client"></span>
                    <span class="content" id="project-link"></span>
                    <span class="content" id="project-load"></span>
                    <span class="content" id="project-plant"></span>
                    <span class="content" id="project-grouping"></span>
                    <span class="content" id="project-phases"></span>
                    <span class="content" id="project-breaker"></span>
                    <span class="content" id="project-n-phases"></span>
                    <span class="content" id="project-n-breaker"></span>
                    <span class="content" id="project-g-phases"></span>
                    <span class="content" id="project-g-breaker"></span>
                    <span class="content" id="project-o-modules-1"></span>
                    <span class="content" id="project-q-modules-1"></span>
                    <span class="content" id="project-m-modules-1"></span>
                    <span class="content" id="project-o-modules-2"></span>
                    <span class="content" id="project-q-modules-2"></span>
                    <span class="content" id="project-m-modules-2"></span>
                    <span class="content" id="project-o-inverter-1"></span>
                    <span class="content" id="project-q-inverter-1"></span>
                    <span class="content" id="project-m-inverter-1"></span>
                    <span class="content" id="project-o-inverter-2"></span>
                    <span class="content" id="project-q-inverter-2"></span>
                    <span class="content" id="project-m-inverter-2"></span>
                    <span class="content" id="project-o-inverter-3"></span>
                    <span class="content" id="project-q-inverter-3"></span>
                    <span class="content" id="project-m-inverter-3"></span>
                    <span class="content" id="project-o-inverter-4"></span>
                    <span class="content" id="project-q-inverter-4"></span>
                    <span class="content" id="project-m-inverter-4"></span>
                    <span class="content" id="project-added-in"></span>
                </div>
            </div>
            <div class="container-buttons-projects">
                <button onclick="buscar_projeto()">Buscar novo projeto</button>  <a href=""><button>Voltar</button></a>
            </div>
        </div>
        <div class="container" id="container-add-projects-general">
            <div id="container-add-projects">
                <div class="container-projeto-existente">
                    <img src="../img/falha.png" class="falha-projeto">
                    <span class="campo-projeto-existente">Projeto já cadastrado.</span>
                </div>
                <div class="container-checkbox">
                    <form class="form-checkbox">
                        <input type="checkbox" class="checkbox" id="checkbox-ligacao-1" required onchange="ligacao_nova1()">
                        <span>Ligação nova</span>
                    </form>
                    <form class="form-checkbox">
                        <input type="checkbox" class="checkbox" id="checkbox-aumento-carga-1" required onchange="aumento_carga1()">
                        <span>Aumento de carga</span>
                    </form>
                    <form class="form-checkbox">
                        <input type="checkbox" class="checkbox" id="checkbox-aumento-usina-1" required onchange="aumento_usina1()">
                        <span>Aumento de usina</span>
                    </form>
                    <form class="form-checkbox">
                        <input type="checkbox" class="checkbox" id="checkbox-agrupamento-1" required onchange="agrupamento1()">
                        <span>Agrupamento</span>
                    </form>
                </div>
                <div id="container-numero-instalacao-1">
                    <div class="container-form">
                        <form>
                            <input type="text" id="número-instalação-adicionar" onclick="mostrar_instalacoes('adicionar')" oninput="filtrar_instalacoes('adicionar')"  required>
                            <label for="name">Número de instalação*:</label>
                            <datalist id="numeroinstalacao-adicionar">
                            </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="número-cliente-adicionar" onclick="mostrar_clientes('adicionar')" oninput="filtrar_clientes('adicionar')" required>
                        <label for="name">Número do cliente*:</label>
                        <datalist id="numerocliente-adicionar">
                        </datalist>
                    </form>
                    <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="n-fases-adicionar" list="" autocomplete="off" onclick="mostrar_fases('n-fases-adicionar')" required>
                        <label for="name">Número de fases atual*:</label>    
                        <datalist id="nfasesadicionar">
                            <option value="Monopolar">Monopolar</option>
                            <option value="Bipolar">Bipolar</option>
                            <option value="Tripolar">Tripolar</option>
                        </datalist>
                    </form>
                    <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="disjuntor-adicionar" oninput="apenas_numeros(this)" required>
                        <label for="name">Disjuntor atual*:</label>
                    </form>
                    <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                </div>
                <div class="container-aumento-carga" id="container-aumento-carga-1">
                    <div class="container-form">
                        <form>
                            
                            <input type="text" id="novo-n-fases-adicionar" list="" autocomplete="off" onclick="mostrar_fases('novo-n-fases-adicionar')" required>
                            <label for="name">Número de fases solicitado*:</label>    
                            <datalist id="novonfasesadicionar">
                                <option value="Monopolar">Monopolar</option>
                                <option value="Bipolar">Bipolar</option>
                                <option value="Tripolar">Tripolar</option>
                            </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="novo-disjuntor-adicionar" oninput="apenas_numeros(this)" required>
                            <label for="name">Disjuntor solicitado*:</label>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                </div>
                <div class="container-agrupamento" id="container-agrupamento-1">
                    <div class="container-form">
                        <form>
                            <input type="text" id="n-fases-agrupamento-adicionar" list="" autocomplete="off" onclick="mostrar_fases('n-fases-agrupamento-adicionar')" required>
                            <label for="name">Número de fases do agrupamento*:</label>    
                            <datalist id="nfasesagrupamentoadicionar">
                                <option value="Sem disjuntor geral">Sem disjuntor geral</option>
                                <option value="Monopolar">Monopolar</option>
                                <option value="Bipolar">Bipolar</option>
                                <option value="Tripolar">Tripolar</option>
                            </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="disjuntor-agrupamento-adicionar" oninput="apenas_numeros(this)" required>
                            <label for="name">Disjuntor geral do agrupamento*:</label>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="tensão-adicionar" oninput="apenas_numeros(this)" required>
                        <label for="name">Tensão:</label>
                    </form>
                </div>
                <div class="container-modulo-1">
                    <form class="form-checkbox-aumento-usina">
                        <input type="checkbox" class="checkbox" id="modulo-anterior-1-adicionar" onchange="modulo_antigo('1-adicionar')" required>
                        <span>Módulo da usina anterior?</span>
                    </form>
                    <div class="container-form">
                        <form>
                            <input type="text" id="quantidade-módulo-1-adicionar" oninput="apenas_numeros(this)" required>
                            <label for="name">Quantidade do módulo 1*:</label>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="fabricante-módulo-1-adicionar" list="" autocomplete="off" onclick="mostrar_fabricantes_modulos('1-adicionar')" oninput="filtrar_fabricantes_modulos('1-adicionar')" required>
                            <label for="name">Fabricante do módulo 1*:</label>    
                                <datalist id="fabricantemodulo-1-adicionar">
                                </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="modelo-módulo-1-adicionar" list="" autocomplete="off" onclick="mostrar_modelos_modulos('1-adicionar')" oninput="filtrar_modelos_modulos('1-adicionar')" required>
                            <label for="name">Modelo do módulo 1*:</label>    
                                <datalist id="modelomodulo-1-adicionar">
                                </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                </div>
                <div class="container-modulo-2">
                    <form class="form-checkbox-aumento-usina">
                        <input type="checkbox" class="checkbox" id="modulo-anterior-2-adicionar" onchange="modulo_antigo('2-adicionar')" required>
                        <span>Módulo da usina anterior?</span>
                    </form>
                    <div class="container-form">
                        <form>
                            <input type="text" id="quantidade-módulo-2-adicionar" oninput="apenas_numeros(this)" required>
                            <label for="name">Quantidade do módulo 2*:</label>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="fabricante-módulo-2-adicionar" list="" autocomplete="off" onclick="mostrar_fabricantes_modulos('2-adicionar')" oninput="filtrar_fabricantes_modulos('2-adicionar')" required>
                            <label for="name">Fabricante do módulo 2*:</label>    
                                <datalist id="fabricantemodulo-2-adicionar">
                                </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="modelo-módulo-2-adicionar" list="" autocomplete="off" onclick="mostrar_modelos_modulos('2-adicionar')" oninput="filtrar_modelos_modulos('2-adicionar')" required>
                            <label for="name">Modelo do módulo 2*:</label>    
                                <datalist id="modelomodulo-2-adicionar">
                                </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                </div>
                <div class="container-add-inverter">
                    <button onclick="adicionar_inversor1()">Adicionar inversor</button> <button onclick="remover_inversor1()">Remover inversor</button>
                </div>
                <div class="container-inversor-1" id="container-inversor-11">
                    <form class="form-checkbox-aumento-usina">
                        <input type="checkbox" class="checkbox" id="inversor-anterior-1-adicionar" required>
                        <span>Inversor da usina anterior?</span>
                    </form>
                    <div class="container-form">
                        <form>
                            <input type="text" id="quantidade-inversor-1-adicionar" oninput="apenas_numeros(this)" required>
                            <label for="name">Quantidade do inversor 1*:</label>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="fabricante-inversor-1-adicionar" list="" autocomplete="off" onclick="mostrar_fabricantes_inversores('1-adicionar')" oninput="filtrar_fabricantes_inversores('1-adicionar')" required>
                            <label for="name">Fabricante do inversor 1*:</label>    
                                <datalist id="fabricanteinversor-1-adicionar">
                                </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="modelo-inversor-1-adicionar" list="" autocomplete="off" onclick="mostrar_modelos_inversores('1-adicionar')" oninput="filtrar_modelos_inversores('1-adicionar')" required>
                            <label for="name">Modelo do inversor 1*:</label>    
                                <datalist id="modeloinversor-1-adicionar" onselect="(this)">
                                </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-erro-inversor" id="container-inversor-incompativel-1-adicionar">
                        <img src="../img/falha.png" class="falha-projeto">
                        <span class="campo-inversor-incompativel">Esse inversor não suporta o módulo selecionado.</span>
                    </div>
                </div>
                <div class="container-inversor-2" id="container-inversor-21">
                    <form class="form-checkbox-aumento-usina">
                        <input type="checkbox" class="checkbox" id="inversor-anterior-2-adicionar" required>
                        <span>Inversor da usina anterior?</span>
                    </form>
                    <div class="container-form">
                        <form>
                            <input type="text" id="quantidade-inversor-2-adicionar" oninput="apenas_numeros(this)" required>
                            <label for="name">Quantidade do inversor 2*:</label>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="fabricante-inversor-2-adicionar" list="" autocomplete="off" onclick="mostrar_fabricantes_inversores('2-adicionar')" oninput="filtrar_fabricantes_inversores('2-adicionar')" required>
                            <label for="name">Fabricante do inversor 2*:</label>    
                                <datalist id="fabricanteinversor-2-adicionar">
                                </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="modelo-inversor-2-adicionar" list="" autocomplete="off" onclick="mostrar_modelos_inversores('2-adicionar')" oninput="filtrar_modelos_inversores('2-adicionar')" required>
                            <label for="name">Modelo do inversor 2*:</label>    
                                <datalist id="modeloinversor-2-adicionar">
                                </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-erro-inversor" id="container-inversor-incompativel-2-adicionar">
                        <img src="../img/falha.png" class="falha-projeto">
                        <span class="campo-inversor-incompativel">Esse inversor não suporta o módulo selecionado.</span>
                    </div>
                </div>
                <div class="container-inversor-3" id="container-inversor-31">
                    <form class="form-checkbox-aumento-usina">
                        <input type="checkbox" class="checkbox" id="inversor-anterior-3-adicionar" required>
                        <span>Inversor da usina anterior?</span>
                    </form>
                    <div class="container-form">
                        <form>
                            <input type="text" id="quantidade-inversor-3-adicionar" oninput="apenas_numeros(this)" required>
                            <label for="name">Quantidade do inversor 3*:</label>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="fabricante-inversor-3-adicionar" list="" autocomplete="off" onclick="mostrar_fabricantes_inversores('3-adicionar')" oninput="filtrar_fabricantes_inversores('3-adicionar')" required>
                            <label for="name">Fabricante do inversor 3*:</label>    
                                <datalist id="fabricanteinversor-3-adicionar">
                                </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="modelo-inversor-3-adicionar" list="" autocomplete="off" onclick="mostrar_modelos_inversores('3-adicionar')" oninput="filtrar_modelos_inversores('3-adicionar')" required>
                            <label for="name">Modelo do inversor 3*:</label>    
                                <datalist id="modeloinversor-3-adicionar">
                                </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-erro-inversor" id="container-inversor-incompativel-3-adicionar">
                        <img src="../img/falha.png" class="falha-projeto">
                        <span class="campo-inversor-incompativel">Esse inversor não suporta o módulo selecionado.</span>
                    </div>
                </div>
                <div class="container-inversor-4" id="container-inversor-41">
                    <form class="form-checkbox-aumento-usina">
                        <input type="checkbox" class="checkbox" id="inversor-anterior-4-adicionar" required>
                        <span>Inversor da usina anterior?</span>
                    </form>
                    <div class="container-form">
                        <form>
                            <input type="text" id="quantidade-inversor-4-adicionar" oninput="apenas_numeros(this)" required>
                            <label for="name">Quantidade do inversor 4*:</label>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="fabricante-inversor-4-adicionar" list="" autocomplete="off" onclick="mostrar_fabricantes_inversores('4-adicionar')" oninput="filtrar_fabricantes_inversores('4-adicionar')" required>
                            <label for="name">Fabricante do inversor 4*:</label>    
                                <datalist id="fabricanteinversor-4-adicionar">
                                </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="modelo-inversor-4-adicionar" list="" autocomplete="off" onclick="mostrar_modelos_inversores('4-adicionar')" oninput="filtrar_modelos_inversores('4-adicionar')" required>
                            <label for="name">Modelo do inversor 4*:</label>    
                                <datalist id="modeloinversor-4-adicionar">
                                </datalist>
                        </form>
                        <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
                    </div>
                </div>
                <div class="container-erro-inversor" id="container-inversor-incompativel-4-adicionar">
                    <img src="../img/falha.png" class="falha-projeto">
                    <span class="campo-inversor-incompativel">Esse inversor não suporta o módulo selecionado.</span>
                </div>
            </div>
            <div class="container-erro-inversor" id="container-superou-overload-adicionar">
                <img src="../img/falha.png" class="falha-projeto">
                <span class="campo-superou-overload">Número de módulos supera o overload do inversor.</span>
            </div>
            <div class="container-buttons-projects">
                <button onmouseover="modulos_por_inversor('adicionar')" onclick="post_project()">Adicionar</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-projeto-adicionado">
            <img src="../img/sucesso.png" class="sucesso">
            <h1>Projeto adicionado com sucesso!</h1>
            <div class="container-buttons-projects">
                <button onclick="print_project()">Imprimir projeto</button> <button onclick="adicionar_projeto()">Adicionar novo projeto</button> <a href=""><button>Voltar</button></a>
            </div>
        </div>
        <div class="container" id="container-search-to-update-projects">
            <div class="container-projeto-inexistente">
                <img src="../img/falha.png" class="falha-projeto">
                <span class="campo-projeto-existente">Projeto inexistente.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="id-projeto-buscar-atualizar" list="" autocomplete="off" onclick="mostrar_projetos('buscar-atualizar')" oninput="filtrar_projetos('buscar-atualizar')" placeholder="Ex.: 7000000000" required>
                    <label for="name">ID do projeto*:</label>    
                        <datalist id="idprojeto-buscar-atualizar">
                        </datalist>
                </form>
                <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-buttons-projects">
                <button onclick="mostrar_campos_atualizar_projetos()">Buscar</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-update-projects-general">
            <div class="container-campos-nao-preenchidos">
                <img src="../img/falha.png" class="falha-projeto">
                <span class="campo-nao-preenchido">Não há nenhuma alteração do projeto original.</span>
            </div>
            <div id="container-update-projects">
                <div class="container-checkbox">
                    <form class="form-checkbox">
                        <input type="checkbox" class="checkbox" id="checkbox-ligacao-2" required onchange="ligacao_nova2()">
                        <span>Ligação nova</span>
                    </form>
                    <form class="form-checkbox">
                        <input type="checkbox" class="checkbox" id="checkbox-aumento-carga-2" required onchange="aumento_carga2()">
                        <span>Aumento de carga</span>
                    </form>
                    <form class="form-checkbox">
                        <input type="checkbox" class="checkbox" id="checkbox-aumento-usina-2" required onchange="aumento_usina2()">
                        <span>Aumento de usina</span>
                    </form>
                    <form class="form-checkbox">
                        <input type="checkbox" class="checkbox" id="checkbox-agrupamento-2" required onchange="agrupamento2()">
                        <span>Agrupamento</span>
                    </form>
                </div>
                <div id="container-numero-instalacao-2">
                    <div class="container-form">
                        <form>
                            <input type="text" id="número-instalação-atualizar" onclick="mostrar_instalacoes('atualizar')" oninput="filtrar_instalacoes('atualizar')" required>
                            <label for="name">Número de instalação:</label>
                            <datalist id="numeroinstalacao-atualizar">
                            </datalist>
                        </form>
                    </div>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="número-cliente-atualizar" onclick="mostrar_clientes('atualizar')" oninput="filtrar_clientes('atualizar')" required>
                        <label for="name">Número do cliente:</label>
                        <datalist id="numerocliente-atualizar">
                        </datalist>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="n-fases-atualizar" list="" autocomplete="off" onclick="mostrar_fases('n-fases-atualizar')" required>
                        <label for="name">Número de fases atual:</label>    
                        <datalist id="nfasesatualizar">
                            <option value="Monopolar">Monopolar</option>
                            <option value="Bipolar">Bipolar</option>
                        </datalist>
                    </form>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="disjuntor-atualizar" oninput="apenas_numeros(this)" required>
                        <label for="name">Disjuntor atual:</label>
                    </form>
                </div>
                <div class="container-aumento-carga" id="container-aumento-carga-2">
                    <div class="container-form">
                        <form>
                            <input type="text" id="novo-n-fases-atualizar" list="" autocomplete="off" onclick="mostrar_fases('novo-n-fases-atualizar')" required>
                            <label for="name">Número de fases solicitado:</label>    
                            <datalist id="novonfasesatualizar">
                                <option value="Monopolar">Monopolar</option>
                                <option value="Bipolar">Bipolar</option>
                                <option value="Tripolar">Tripolar</option>
                            </datalist>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="novo-disjuntor-atualizar" oninput="apenas_numeros(this)" required>
                            <label for="name">Disjuntor solicitado:</label>
                        </form>
                    </div>
                </div>
                <div class="container-agrupamento" id="container-agrupamento-2">
                    <div class="container-form">
                        <form>
                            <input type="text" id="n-fases-agrupamento-atualizar" list="" autocomplete="off" onclick="mostrar_fases('n-fases-agrupamento-atualizar')" required>
                            <label for="name">Número de fases do agrupamento:</label>    
                            <datalist id="nfasesagrupamentoatualizar">
                                <option value="Sem disjuntor geral">Sem disjuntor geral</option>
                                <option value="Monopolar">Monopolar</option>
                                <option value="Bipolar">Bipolar</option>
                                <option value="Tripolar">Tripolar</option>
                            </datalist>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="disjuntor-agrupamento-atualizar" oninput="apenas_numeros(this)" required>
                            <label for="name">Disjuntor geral do agrupamento:</label>
                        </form>
                    </div>
                </div>
                <div class="container-form">
                    <form>
                        <input type="text" id="tensão-atualizar" oninput="apenas_numeros(this)" required>
                        <label for="name">Tensão:</label>
                    </form>
                </div>
                <div class="container-modulo-1">
                    <form class="form-checkbox-aumento-usina">
                        <input type="checkbox" class="checkbox" id="modulo-anterior-1-atualizar" onchange="modulo_antigo('1-atualizar')" required>
                        <span>Módulo da usina anterior?</span>
                    </form>
                    <div class="container-form">
                        <form>
                            <input type="text" id="quantidade-módulo-1-atualizar" oninput="apenas_numeros(this)" required>
                            <label for="name">Quantidade do módulo 1:</label>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="fabricante-módulo-1-atualizar" list="" autocomplete="off" onclick="mostrar_fabricantes_modulos('1-atualizar')" oninput="filtrar_fabricantes_modulos('1-atualizar')" required>
                            <label for="name">Fabricante do módulo 1:</label>    
                                <datalist id="fabricantemodulo-1-atualizar">
                                </datalist>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="modelo-módulo-1-atualizar" list="" autocomplete="off" onclick="mostrar_modelos_modulos('1-atualizar')" oninput="filtrar_modelos_modulos('1-atualizar')" required>
                            <label for="name">Fabricante do módulo 1:</label>    
                                <datalist id="modelomodulo-1-atualizar">
                                </datalist>
                        </form>
                    </div>
                </div>
                <div class="container-modulo-2">
                    <form class="form-checkbox-aumento-usina">
                        <input type="checkbox" class="checkbox" id="modulo-anterior-2-atualizar" onchange="modulo_antigo('2-atualizar')" required>
                        <span>Módulo da usina anterior?</span>
                    </form>
                    <div class="container-form">
                        <form>
                            <input type="text" id="quantidade-módulo-2-atualizar" oninput="apenas_numeros(this)" required>
                            <label for="name">Quantidade do módulo 2:</label>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="fabricante-módulo-2-atualizar" list="" autocomplete="off" onclick="mostrar_fabricantes_modulos('2-atualizar')" oninput="filtrar_fabricantes_modulos('2-atualizar')" required>
                            <label for="name">Fabricante do módulo 2:</label>    
                                <datalist id="fabricantemodulo-2-atualizar">
                                </datalist>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="modelo-módulo-2-atualizar" list="" autocomplete="off" onclick="mostrar_modelos_modulos('2-atualizar')" oninput="filtrar_modelos_modulos('2-atualizar')" required>
                            <label for="name">Modelo do módulo 2:</label>    
                                <datalist id="modelomodulo-2-atualizar">
                                </datalist>
                        </form>
                    </div>
                </div>
                <div class="container-add-inverter">
                    <button onclick="adicionar_inversor2()">Adicionar inversor</button> <button onclick="remover_inversor2()">Remover inversor</button>
                </div>
                <div class="container-inversor-1" id="container-inversor-12">
                    <form class="form-checkbox-aumento-usina">
                        <input type="checkbox" class="checkbox" id="inversor-anterior-1-atualizar" required>
                        <span>Inversor da usina anterior?</span>
                    </form>
                    <div class="container-form">
                        <form>
                            <input type="text" id="quantidade-inversor-1-atualizar" oninput="apenas_numeros(this)" required>
                            <label for="name">Quantidade do inversor 1:</label>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="fabricante-inversor-1-atualizar" list="" autocomplete="off" onclick="mostrar_fabricantes_inversores('1-atualizar')" oninput="filtrar_fabricantes_inversores('1-atualizar')" required>
                            <label for="name">Fabricante do inversor 1:</label>    
                                <datalist id="fabricanteinversor-1-atualizar">
                                </datalist>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="modelo-inversor-1-atualizar" list="" autocomplete="off" onclick="mostrar_modelos_inversores('1-atualizar')" oninput="filtrar_modelos_inversores('1-atualizar')" required>
                            <label for="name">Modelo do inversor 1:</label>    
                                <datalist id="modeloinversor-1-atualizar">
                                </datalist>
                        </form>
                    </div>
                </div>
                <div class="container-inversor-2" id="container-inversor-22">
                    <form class="form-checkbox-aumento-usina">
                        <input type="checkbox" class="checkbox" id="inversor-anterior-2-atualizar" required>
                        <span>Inversor da usina anterior?</span>
                    </form>
                    <div class="container-form">
                        <form>
                            <input type="text" id="quantidade-inversor-2-atualizar" oninput="apenas_numeros(this)" required>
                            <label for="name">Quantidade do inversor 2:</label>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="fabricante-inversor-2-atualizar" list="" autocomplete="off" onclick="mostrar_fabricantes_inversores('2-atualizar')" oninput="filtrar_fabricantes_inversores('2-atualizar')" required>
                            <label for="name">Fabricante do inversor 2:</label>    
                                <datalist id="fabricanteinversor-2-atualizar">
                                </datalist>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="modelo-inversor-2-atualizar" list="" autocomplete="off" onclick="mostrar_modelos_inversores('2-atualizar')" oninput="filtrar_modelos_inversores('2-atualizar')" required>
                            <label for="name">Modelo do inversor 2:</label>    
                                <datalist id="modeloinversor-2-atualizar">
                                </datalist>
                        </form>
                    </div>
                </div>
                <div class="container-inversor-3" id="container-inversor-32">
                    <form class="form-checkbox-aumento-usina">
                        <input type="checkbox" class="checkbox" id="inversor-anterior-3-atualizar" required>
                        <span>Inversor da usina anterior?</span>
                    </form>
                    <div class="container-form">
                        <form>
                            <input type="text" id="quantidade-inversor-3-atualizar" oninput="apenas_numeros(this)" required>
                            <label for="name">Quantidade do inversor 3:</label>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="fabricante-inversor-3-atualizar" list="" autocomplete="off" onclick="mostrar_fabricantes_inversores('3-atualizar')" oninput="filtrar_fabricantes_inversores('3-atualizar')" required>
                            <label for="name">Fabricante do inversor 3:</label>    
                                <datalist id="fabricanteinversor-3-atualizar">
                                </datalist>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="modelo-inversor-3-atualizar" list="" autocomplete="off" onclick="mostrar_modelos_inversores('3-atualizar')" oninput="filtrar_modelos_inversores('3-atualizar')" required>
                            <label for="name">Modelo do inversor 3:</label>    
                                <datalist id="modeloinversor-3-atualizar">
                                </datalist>
                        </form>
                    </div>
                </div>
                <div class="container-inversor-4" id="container-inversor-42">
                    <form class="form-checkbox-aumento-usina">
                        <input type="checkbox" class="checkbox" id="inversor-anterior-4-atualizar" required>
                        <span>Inversor da usina anterior?</span>
                    </form>
                    <div class="container-form">
                        <form>
                            <input type="text" id="quantidade-inversor-4-atualizar" oninput="apenas_numeros(this)" required>
                            <label for="name">Quantidade do inversor 4:</label>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="fabricante-inversor-4-atualizar" list="" autocomplete="off" onclick="mostrar_fabricantes_inversores('4-atualizar')" oninput="filtrar_fabricantes_inversores('4-atualizar')" required>
                            <label for="name">Fabricante do inversor 4:</label>    
                                <datalist id="fabricanteinversor-4-atualizar">
                                </datalist>
                        </form>
                    </div>
                    <div class="container-form">
                        <form>
                            <input type="text" id="modelo-inversor-4-atualizar" list="" autocomplete="off" onclick="mostrar_modelos_inversores('4-atualizar')" oninput="filtrar_modelos_inversores('4-atualizar')" required>
                            <label for="name">Modelo do inversor 4:</label>    
                                <datalist id="modeloinversor-4-atualizar">
                                </datalist>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-buttons-projects">
                <button onclick="patch_project()">Atualizar</button> <button onclick="atualizar_projeto()">Voltar</button>
            </div>
        </div>
        <div class="container" id="container-projeto-atualizado">
            <img src="../img/sucesso.png" class="sucesso">
            <h1>Projeto atualizado com sucesso!</h1>
            <div class="container-buttons-projects">
                <button onclick="print_project()">Imprimir projeto</button> <a href=""><button>Voltar</button></a>
            </div>
        </div>
        <div class="container" id="container-print-projects">
            <div class="container-projeto-inexistente">
                <img src="../img/falha.png" class="falha-projeto">
                <span class="campo-projeto-inexistente">Projeto inexistente.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="id-projeto-imprimir" list="" autocomplete="off" onclick="mostrar_projetos('imprimir')" oninput="filtrar_projetos('imprimir')" required>
                    <label for="name">ID do projeto*:</label>    
                        <datalist id="idprojeto-imprimir">
                        </datalist>
                </form>
                <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-buttons-projects">
                <button onclick="print_project()">Imprimir</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-projeto-impresso">
            <img src="../img/sucesso.png" class="sucesso">
            <h1>Projeto impresso com sucesso!</h1>
            <div class="container-buttons-projects">
                <a href=""><button>Voltar</button></a>
            </div>
        </div>
        <div class="container" id="container-delete-projects">
            <div class="container-projeto-inexistente">
                <img src="../img/falha.png" class="falha-projeto">
                <span class="campo-projeto-inexistente">Projeto inexistente.</span>
            </div>
            <div class="container-form">
                <form>
                    <input type="text" id="id-projeto-deletar" list="" autocomplete="off" onclick="mostrar_projetos('deletar')" oninput="filtrar_projetos('deletar')" required>
                    <label for="name">ID do projeto*:</label>    
                        <datalist id="idprojeto-deletar">
                        </datalist>
                </form>
                <span class="campo-obrigatorio-projetos">Esse é um campo obrigatório.</span>
            </div>
            <div class="container-buttons-projects">
                <button onclick="delete_project()">Deletar</button> <a href=""><button>Cancelar</button></a>
            </div>
        </div>
        <div class="container" id="container-projeto-deletado">
            <img src="../img/sucesso.png" class="sucesso">
            <h1>Projeto deletado com sucesso!</h1>
            <div class="container-buttons-projects">
                <a href=""><button>Voltar</button></a>
            </div>
        </div>
    </div>
    <div class="container-usuario-nao-autorizado">
        <div class="container">
            <img src="../img/falha.png" class="falha">
            <p class="usuario-nao-autorizado-principal">Acesso negado.</p>
            <p class="usuario-nao-autorizado-secundario">Faça login primeiro.</p>
            <a href="./auth.html"><button>Ir para a página de logins</button></a>
        </div>
    </div>

    <!-- JAVA SCRIPT FILE -->
    <script src="./node_modules/axios/dist/axios.min.js" type="module"></script>
    <script defer src="./script.js" type="module"></script>
    <script defer src="./App.js" type="module"></script>
</body>
</html>